@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/museomoderno-v27-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/museomoderno-v27-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/museomoderno-v27-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/museomoderno-v27-latin-900.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/oxanium-v19-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oxanium-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Oxanium";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/oxanium-v19-latin-600.woff2") format("woff2");
}
