.header {
  display: none;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    display: block;
  }

  &__flex {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: center;
  }
  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
  &__list {
    display: no;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }
  &__link {
    font-size: 30px;
    font-weight: 600;
  }
}
